<h2>Goals</h2>
<div id="goals">
<% if @dashboard.goals %>
  <% @dashboard.goals.each do |goal| %>
    <div class="goal">
      <h4><%= goal.skill.nickname %></h4>
      <p><%= goal.num_sessions %> sessions</p>
      <p><%= goal.session_length %> minutes</p>
    </div>
  <% end %>
<% end %>
</div>

<div class="row">
  <div class="col-sm-3">
    <%= form_for current_user do |f| %>
    <div class="form-group">
      <%= f.label :skill %>
      <%= select(:skill_nickname, :skill_id, current_user.skill_form_options, {}, :id => "skill-id", :class=> "form-control") %>
      <% end  %>
      <label for="num-sessions">Number of Sessions</label>
      <select class="form-control" id="num-sessions"></select>
      <label for="session-length">Session Length</label>
      <select class="form-control" id="session-length"></select>
      <input class="btn btn-default pull-right" id="create-goal" type="button" name="submit" value="Add Goal">
    </div>
  </div>
</div>

<h2>Skills</h2>
<div id="skills">
<% if @dashboard.skills %>
  <% @dashboard.skills.each do |skill| %>
    <div class="skill">
      <h4><%= skill.nickname %></h4>
      <p><%= skill.description %></p>
    </div>
  <% end %>
<% end %>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <h4>Add a Skill</h4>
      <label for="skill-nickname">Nickname</label>
      <input class="form-control" type="text" id="skill-nickname">
      <label for="skill-description">Description</label>
      <input class="form-control" type="text" id="skill-description">
      <input type="hidden" name="skill-user" id="skill-user" value="<%= current_user.id %>">
    </div>
    <input class="btn btn-default pull-right" id="create-skill" type="button" name="submit" value="Add Skill">
  </div>
  <div class="col-sm-2"></div>
</div>
