
<div class="paper col-sm-7 col-md-offset-1">

  <div id="current-goals">
    <h4>Current Goals</h4>
    <% if @dashboard.current_goals %>
      <%= render partial: "goal_list" , locals: {goals:  @dashboard.current_goals} %>
    <% end %>
  </div>

  <div id="current-sessions">
    <h4>Completed This Week:</h4>
    <% @dashboard.sessions.each do |session| %>
      <div class="session">
        <p><b><%= session.skill.nickname %></b>: <%= session.duration %> minutes, <%= days_from_today session.created_at %> ago</p>
      </div>
    <% end %>
  </div>

  <div id="next-goals">
    <h4>Next Week's Goals</h4>
    <% if @dashboard.next_goals %>
      <%= render partial: "goal_list" , locals: {goals:  @dashboard.next_goals} %>
    <% end %>
  </div>


</div>
