
<div class="paper col-sm-7 col-sm-offset-1">
  <div class="tab-container">
    <h5 class='tab active-tab' id="current-tab" target="current">Current Week</h5>
    <h5 class="tab" id="next-tab" target="next">Next Week</h5>
  </div>

  <div class="current">

    <h4><span class="number-circle inverse" id="points-available-current"> <%= @dashboard.current_week_points_available%> </span> Points Available This Week
    <div class="pull-right">
      <span class="number-circle inverse" id="points-earned"> <%= current_user.current_week_points%> </span> Points Earned This Week</div></h4>


    <h4>Goals</h4>
    <% if @dashboard.current_goals %>
      <%= render partial: "goal_list" , locals: {goals:  @dashboard.current_goals, type: "current"} %>
    <% end %>
  </div>


  <div class="current">
    <h4>Completed This Week:</h4>
    <table class=table id="current-sessions">
    <% @dashboard.sessions.each do |session| %>
    <tr>
      <div class="session">
          <td><b><%= session.skill.nickname %></b></td>
          <td><%= session.duration %> minutes</td>
          <td><%= days_from_today session.created_at %> ago</td>
      </div>
    </tr>
    <% end %>
    </table>
  </div>

  <div class="next">
    <h4><span class="number-circle inverse" id="points-available-next"> <%= @dashboard.next_week_points_available%> </span> Points Available Next Week</h4>
    <h4>Next Week's Goals</h4>
    <% if @dashboard.next_goals %>
      <%= render partial: "goal_list" , locals: {goals:  @dashboard.next_goals, type: "next"} %>
    <% end %>
  </div>


</div>
