<div class="followers">
  <h1>Number of Followers: <%= @user.followers.count %></h1>
  <h1>Followers</h1>
  <% @user.followers.each do |follower| %>
  <%= link_to follower.nickname, user_path(follower.nickname) %>
  <% end %>
</div>

<div class="follow-container" data-follower="<%= current_user.id %>" data-user="<%= @user.id %>">
  <% if current_user.followers.include?(@user) %>
  <!-- get this into a helper method??? -->
    <button type="button" id="unfollow" target="<%= @user.user_followers.where(follower_id: current_user.id).first.id%>">Unfollow</button>
  <% else %>
    <button type="button" id="follow">Follow</button>
  <% end %>
</div>
<!-- if current user follows this person, unfollow button -->
<!-- unfollow button does a delete method - probs through api call - on userfollowers table -->
<!-- button sends over current user id (the follower), id of user whos page we are on (the user)  -->
<!-- it locates the record as a find_by using both? need to figure this out -->
 <!-- ajax call decrements the count and removes current user from list? THIS COULD BE HAREd -->


<!-- if current user does not follows this person, follow button -->
<!-- follow button does a create method - probs through api call - on userfollowers table -->
<!-- button sends over current user id (the follower), id of user whos page we are on (the user)  -->
<!-- ajax call increments the count and adds current user to list? -->
