<h1><%= @user.name %> </h1>
<h1><%= @user.nickname %> </h1>
<h1><img src="<%= @user.image %>" class="community-photo"></h1>
<div class="follow-container" data-follower="<%= current_user.id %>" data-user="<%= @user.id %>">

  <% if @user.followers.include?(current_user) %>
    <button type="button" class="unfollow" target="<%= @user.user_followers.first_by_follower(current_user.id).id if @user.user_followers.first_by_follower(current_user.id) %>">Unfollow</button>
  <% else %>
    <button type="button" class="follow">Follow</button>
  <% end %>
</div>


<div class="followers">
  <h1>Number of Followers:</h1>
  <h1 id="followers-count"><%= @user.followers.count %></h1>

  <div class="toggle-followers">

    <button type="button" class="expandFollowers flash-button"  name="button">Show</button>

    <button type="button" class="collapseFollowers flash-button" name="button">Hide</button>

  </div>

  <div class="followers-list">
    <%= render partial: 'shared/associated_user_list', locals: {associated_users: @user.followers, type: "follower"} %>
  </div>
</div>

<div class="following">
  <h1>Number Following:</h1>
  <h1 id="following-count"><%= @user.num_users_following %></h1>
  <div class="toggle-following">

    <button type="button" class="expandFollowing flash-button"  name="button">Show</button>

    <button type="button" class="collapseFollowing flash-button" name="button">Hide</button>

  </div>
  
  <div class="following-list">
    <%= render partial: 'shared/associated_user_list', locals: {associated_users: @user.users_following, type: "following"} %>
  </div>
</div>
