<div class="home-bar" id=grad>
  <%= image_tag "CODEPOINTS.png" %>

  <h1>Deliberate Practice</h1>
  <h4>It's not the number of hours that counts.  It's how the hours are spent. </h4>
  <h4>Set goals.  Track your practice sessions. See results.</h4>

  <%= button_to "Login with Github", github_login_path, method: :get, class: 'home-button' %>

</div>

<div class="home-integrate">
  <div class="left-photo">
  </div>
  <div class="middle-content">
    <h1>See your results in real time.</h1>
    <h4>Stay motivated. Stay Accountable.</h4>
  </div>
</div>

<div class="home-photo-banner">
  <div class="home-last-banner">
    <h1>Integrates with your favorite learning apps.</h1>
    <div class="app-imgs">
        <%= image_tag "codewars.jpg", class:"feature-img" %>
        <%= image_tag "quizlet.png", class:"feature-img" %>
        <%= image_tag "cli.png", class:"feature-img" %>
    </div>
    <h4>Create Quizlet flashcards and log CodePoints sessions from the command line. </h4>
    <h4>Practice quizlet flashcards.  Find flashcards from other users. Track status on codewars.</h4>
  </div>
</div>
