<div class="sidebar col-sm-3">
  <div class="user-info container-fluid">
    <div class='col-sm-12 user-stats'>
      <h4> Points: <span class="number-circle" id="points-total"><%= current_user.points%></span> Level: <span class="number-circle"> <%= current_user.level.to_s + " "%> </span></h4>
      <% if current_user.skills.empty?%>
      <p class="get-started"><b>To get started:</b><br>Add a skill below. Then add a goal.</p>
      <% end %>
    </div>
  </div>

  <div class="container-fluid" class="log-session" id="log-session-<%=current_user.current_goals.count%>">
      <h4>Log a Practice Session</h4>
      <%= form_for current_user do |f| %>
        <div class="form-group">
          <%= f.label :skill %>
          <%= select(:skill_nickname, :skill_id, current_user.session_form_options, {}, :id => "skill-id-session", :class=> "form-control") %>
          <% end  %>
          <label for="session-length">Duration</label>
          <select class="form-control session-length" id="session-length-log"></select>
        </div>
        <input class="btn btn-default pull-right" id="create-session" type="button" name="submit" value="Log Session">
  </div>

  <div class="container-fluid search-quizlet">
    <div class="side-form" id="search-quizlet">
      <h4>Search Quizlet</h2>
        <%= form_tag :quizlet_search, method: :get do %>
          <div class="form-group search-field">
            <label for="q">Search Name/Description</label>
            <%= text_field_tag :q, "", placeholder: "e.g. SQL", class: "form-control"%>
            <label for="created_by">Quizlet Username</label>
            <%= text_field_tag :created_by, "", placeholder: "e.g. kjs222", class: "form-control"%>
            <%= submit_tag "Search", class: "btn btn-default pull-right", id: "search-submit" %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="new-current-goal-form container-fluid">
    <div class="col-sm-2">
      <div class="arrow-down" target="new-current-goal"></div>
    </div>
    <div class="col-sm-10">
    <h4>Add Goal For This Week</h4>
    </div>
    <div class="side-form" id="new-current-goal">
      <%= render partial: "shared/new_goal_form" , locals: {week_num: current_week_number, type: "current"} %>
    </div>
  </div>


  <div class="new-next-goal-form container-fluid">
    <div class="col-sm-2">
      <div class="arrow-down" target="new-next-goal"></div>
    </div>
    <div class="col-sm-10">
      <h4>Add Goal For Next Week</h4>
    </div>
    <div class="side-form" id="new-next-goal">
      <%= render partial: "shared/new_goal_form" , locals: {week_num: next_week_number, type: "next"} %>
    </div>
  </div>

  <div class="container-fluid new-skill">
    <div class="col-sm-2">
      <div class="arrow-down" target="new-skill"></div>
    </div>
    <div class="col-sm-10">
    <h4>Add A Skill</h4>
    </div>
    <div class="side-form" id="new-skill">
      <%= render partial: "shared/new_skill" %>
    </div>
  </div>

  <div class="container-fluid search-user">
    <div class="side-form" id="search-user">
      <h4>Search For User</h2>
        <%= form_tag :user_search, method: :get do %>
          <div class="form-group user-search-field">
            <label for="q">Search Nickname/Username</label>
            <%= text_field_tag :user_nickname, "", placeholder: "e.g. kjs222", class: "form-control"%>
            <%= submit_tag "Find User", class: "btn btn-default pull-right", id:  "user-search-submit" %>
          </div>
        <% end %>
    </div>
  </div>

</div>
