<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600italic,400,400italic,600,300,300italic,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if current_user  %>
      <p>Hello <%= current_user.name %></p>
      <%= link_to "Logout", logout_path, method: :delete %>
      <%= link_to "Add/Update Command Line App Credentials", edit_user_path(current_user.id) %>
      <% if current_user.quiz_id == nil %>
        <%= link_to "Add Quizlet to Account", quizlet_login_path %>
      <% else %>
        <p>Quizlet Enabled.  Hello <%= current_user.quiz_id %>!</p>
      <% end %>
    <% else %>
      <%= link_to "Login with Github", github_login_path %>
    <% end %>



    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
